{% extends 'parts/layout.twig' %}

{% block title %}
    <title>Лендинг</title>
{% endblock %}


{% block content %}

    {% include 'parts/landing/first-screen.twig' %}

    {% include 'parts/landing/calculator.twig' %}

    {% include 'parts/landing/comparison-programs.twig' %}

    {% include 'parts/landing/feedback.twig' %}

    {% include 'parts/landing/map.twig' %}

{% endblock %}