{#HEADER#}
<div class="header js-header">
    {#HEADER WRAPPER#}
    <div class="header-wrapper">

        {#HEADER BODY#}
        <div class="header-body">
            <div class="header-body__left-part">
                <a href="#" class="header-body__logo"></a>
            </div>

            <div class="header-body__pre-container">
                <div class="header-body__container container">
                    <div class="header-body__list">
                        <div class="header-body__main-part">
                            <nav class="header-body__menu-block menu js-menu" data-height="115" data-menu-id="0">
                                <a href="#" class="header-body__menu-item menu__item js-menu__item _active" data-index="0" data-section-id="calculator">Калькулятор</a>
                                <a href="#" class="header-body__menu-item menu__item js-menu__item" data-index="1" data-section-id="programms">Программы</a>
                                <a href="#" class="header-body__menu-item menu__item js-menu__item" data-index="2" data-section-id="about">О компании</a>
                                <a href="#" class="header-body__menu-item menu__item js-menu__item" data-index="3" data-section-id="faq">Ответы на вопросы</a>
                                <a href="#" class="header-body__menu-item menu__item js-menu__item" data-index="4" data-section-id="contacts">Контакты</a>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>

            <div class="header-body__right-part">
                <div class="header-body__column">
                    <a href="#" class="header-body__phone hidden-xs">+7 (8422) 42-50-71</a>
                    <a href="#" class="header-body__call-request hidden-xs hidden-sm hidden-md button button__call-request js-popup-link"
                       data-href="#call-request-popup">Обратный звонок</a>
                </div>
                <div class="header-body__column">
                    <a href="#" class="header-body__burger js-header-burger">
                        <span class="header-body__burger-line"></span>
                        <span class="header-body__burger-line"></span>
                        <span class="header-body__burger-line"></span>
                    </a>
                </div>
            </div>

        </div>
        {#/HEADER BODY#}

    </div>
    {#/HEADER WRAPPER#}

</div>
{#/HEADER#}