{#MOBILE MENU#}
<div class="mobile-menu" id="mobile-menu">
	<div class="mobile-menu__main-part">
		<a href="#" class="mobile-menu__close button__close-big" id="mobile-menu-close"></a>
		<div class="mobile-menu__header">
			<span class="mobile-menu__title">Меню</span>
		</div>
		<div class="mobile-menu__list-wrap">
			<div class="mobile-menu__list menu menu_green js-menu" data-height="128" data-is-popup="1" data-menu-id="1">
				<a href="#" class="mobile-menu__item menu__item js-menu__item _active" data-index="0" data-section-id="calculator">
					<span class="__bottom-border">Калькулятор</span>
				</a>
				<a href="#" class="mobile-menu__item menu__item js-menu__item" data-index="1" data-section-id="programms">
					<span class="__bottom-border">Программы</span>
				</a>
				<a href="#" class="mobile-menu__item menu__item js-menu__item" data-index="2" data-section-id="about">
					<span class="__bottom-border">О компании</span>
				</a>
				<a href="#" class="mobile-menu__item menu__item js-menu__item" data-index="3" data-section-id="faq">
					<span class="__bottom-border">Ответы на вопросы</span>
				</a>
				<a href="#" class="mobile-menu__item menu__item js-menu__item" data-index="4" data-section-id="contacts">
					<span class="__bottom-border">Контакты</span>
				</a>
			</div>
		</div>
	</div>
</div>
{#/MOBILE MENU#}