{#COMPARISON PROGRAMS#}
<div class="comparison-programs-block">
    <div class="comparison-programs-block__bg">
        <div class="comparison-programs-block__container container">
            <div class="comparison-programs-block__content">
                <a href="#" id="programms"></a>
				<span class="comparison-programs-block__title">
					Сравнение программ
				</span>
                <span class="comparison-programs-block__sub-title">
					При сбережении <br class="hidden-md hidden-lg">100 000 рублей на 12 месяцев
				</span>

                <div class="comparison-programs-block__programs-wrap-absolute">
                    <div class="comparison-programs-block__programs-wrap">

                        <div class="comparison-programs-block__program-column">
                            <div class="comparison-programs-block__program-title">
                                <span class="comparison-programs-block__program-title-line">доход</span>
                                <span class="comparison-programs-block__program-title-line">Пенсионный</span>
                            </div>
                            <div class="comparison-programs-block__program-info">
                                <div class="comparison-programs-block__program-list">
                                    <div class="comparison-programs-block__program-line">
                                        <div class="comparison-programs-block__program-key">
                                            Вы получите
                                        </div>
                                        <div class="comparison-programs-block__program-value _large-text">
                                            232 000 <span class="rub"></span>
                                        </div>
                                    </div>
                                    <div class="comparison-programs-block__program-line">
                                        <div class="comparison-programs-block__program-key">
                                            Доход по программе
                                        </div>
                                        <div class="comparison-programs-block__program-value">
                                            32 000 <span class="rub"></span>
                                        </div>
                                    </div>
                                    <div class="comparison-programs-block__program-line">
                                        <div class="comparison-programs-block__program-key">
                                            Процентная ставка
                                        </div>
                                        <div class="comparison-programs-block__program-value">
                                            16%
                                        </div>
                                    </div>
                                    <div class="comparison-programs-block__program-line">
                                        <div class="comparison-programs-block__program-key">
                                            Минимальное сбережение
                                        </div>
                                        <div class="comparison-programs-block__program-value">
                                            от 1000 <span class="rub"></span>
                                        </div>
                                    </div>
                                    <div class="comparison-programs-block__program-line">
                                        <div class="comparison-programs-block__program-key">
                                            Пополнение
                                        </div>
                                        <div class="comparison-programs-block__program-value">
                                            от 1000 <span class="rub"></span>
                                        </div>
                                    </div>
                                    <div class="comparison-programs-block__program-line">
                                        <div class="comparison-programs-block__program-key">
                                            Начисление и выплата процентов
                                        </div>
                                        <div class="comparison-programs-block__program-value _medium-text">
                                            В конце срока или ежемесячно
                                        </div>
                                    </div>
                                </div>
                                <a href="#"
                                   data-href="#full-conditions"
                                   class="comparison-programs-block__program-detail-button button button__program-detail hidden-xs hidden-sm hidden-md js-popup-link">
                                    Полные условия
                                </a>
                            </div>
                        </div>

                        <div class="comparison-programs-block__program-column">
                            <div class="comparison-programs-block__program-title">
                                <span class="comparison-programs-block__program-title-line">копилка</span>
                                <span class="comparison-programs-block__program-title-line">Семейная</span>
                            </div>
                            <div class="comparison-programs-block__program-info">
                                <div class="comparison-programs-block__program-list">
                                    <div class="comparison-programs-block__program-line">
                                        <div class="comparison-programs-block__program-key">
                                            Вы получите
                                        </div>
                                        <div class="comparison-programs-block__program-value _large-text">
                                            232 000 <span class="rub"></span>
                                        </div>
                                    </div>
                                    <div class="comparison-programs-block__program-line">
                                        <div class="comparison-programs-block__program-key">
                                            Доход по программе
                                        </div>
                                        <div class="comparison-programs-block__program-value">
                                            32 000 <span class="rub"></span>
                                        </div>
                                    </div>
                                    <div class="comparison-programs-block__program-line">
                                        <div class="comparison-programs-block__program-key">
                                            Процентная ставка
                                        </div>
                                        <div class="comparison-programs-block__program-value">
                                            15.5%
                                        </div>
                                    </div>
                                    <div class="comparison-programs-block__program-line">
                                        <div class="comparison-programs-block__program-key">
                                            Минимальное сбережение
                                        </div>
                                        <div class="comparison-programs-block__program-value">
                                            от 1000 <span class="rub"></span>
                                        </div>
                                    </div>
                                    <div class="comparison-programs-block__program-line">
                                        <div class="comparison-programs-block__program-key">
                                            Пополнение
                                        </div>
                                        <div class="comparison-programs-block__program-value">
                                            от 1000 <span class="rub"></span>
                                        </div>
                                    </div>
                                    <div class="comparison-programs-block__program-line">
                                        <div class="comparison-programs-block__program-key">
                                            Начисление и выплата процентов
                                        </div>
                                        <div class="comparison-programs-block__program-value _medium-text">
                                            В конце срока или ежемесячно
                                        </div>
                                    </div>
                                </div>
                                <a href="#"
                                   data-href="#full-conditions"
                                   class="comparison-programs-block__program-detail-button button button__program-detail hidden-xs hidden-sm hidden-md js-popup-link">
                                    Полные условия
                                </a>
                            </div>
                        </div>

                        <div class="comparison-programs-block__program-column">
                            <div class="comparison-programs-block__program-title">
                                <span class="comparison-programs-block__program-title-line">Полгода</span>
                            </div>
                            <div class="comparison-programs-block__program-info">
                                <div class="comparison-programs-block__program-list">
                                    <div class="comparison-programs-block__program-line">
                                        <div class="comparison-programs-block__program-key">
                                            Вы получите
                                        </div>
                                        <div class="comparison-programs-block__program-value _large-text">
                                            232 000 <span class="rub"></span>
                                        </div>
                                    </div>
                                    <div class="comparison-programs-block__program-line">
                                        <div class="comparison-programs-block__program-key">
                                            Доход по программе
                                        </div>
                                        <div class="comparison-programs-block__program-value">
                                            32 000 <span class="rub"></span>
                                        </div>
                                    </div>
                                    <div class="comparison-programs-block__program-line">
                                        <div class="comparison-programs-block__program-key">
                                            Процентная ставка
                                        </div>
                                        <div class="comparison-programs-block__program-value">
                                            15%
                                        </div>
                                    </div>
                                    <div class="comparison-programs-block__program-line">
                                        <div class="comparison-programs-block__program-key">
                                            Минимальное сбережение
                                        </div>
                                        <div class="comparison-programs-block__program-value">
                                            от 1000 <span class="rub"></span>
                                        </div>
                                    </div>
                                    <div class="comparison-programs-block__program-line">
                                        <div class="comparison-programs-block__program-key">
                                            Пополнение
                                        </div>
                                        <div class="comparison-programs-block__program-value">
                                            от 1000 <span class="rub"></span>
                                        </div>
                                    </div>
                                    <div class="comparison-programs-block__program-line">
                                        <div class="comparison-programs-block__program-key">
                                            Начисление и выплата процентов
                                        </div>
                                        <div class="comparison-programs-block__program-value _medium-text">
                                            В конце срока или ежемесячно
                                        </div>
                                    </div>
                                </div>
                                <a href="#"
                                   data-href="#full-conditions"
                                   class="comparison-programs-block__program-detail-button button button__program-detail hidden-xs hidden-sm hidden-md js-popup-link">
                                    Полные условия
                                </a>
                            </div>
                        </div>

                        <div class="comparison-programs-block__program-column">
                            <div class="comparison-programs-block__program-title">
                                <span class="comparison-programs-block__program-title-line">вания</span>
                                <span class="comparison-programs-block__program-title-line">До востребо-</span>
                            </div>
                            <div class="comparison-programs-block__program-info">
                                <div class="comparison-programs-block__program-list">
                                    <div class="comparison-programs-block__program-line">
                                        <div class="comparison-programs-block__program-key">
                                            Вы получите
                                        </div>
                                        <div class="comparison-programs-block__program-value _large-text">
                                            232 000 <span class="rub"></span>
                                        </div>
                                    </div>
                                    <div class="comparison-programs-block__program-line">
                                        <div class="comparison-programs-block__program-key">
                                            Доход по программе
                                        </div>
                                        <div class="comparison-programs-block__program-value">
                                            32 000 <span class="rub"></span>
                                        </div>
                                    </div>
                                    <div class="comparison-programs-block__program-line">
                                        <div class="comparison-programs-block__program-key">
                                            Процентная ставка
                                        </div>
                                        <div class="comparison-programs-block__program-value">
                                            13.5%
                                        </div>
                                    </div>
                                    <div class="comparison-programs-block__program-line">
                                        <div class="comparison-programs-block__program-key">
                                            Минимальное сбережение
                                        </div>
                                        <div class="comparison-programs-block__program-value">
                                            от 1000 <span class="rub"></span>
                                        </div>
                                    </div>
                                    <div class="comparison-programs-block__program-line">
                                        <div class="comparison-programs-block__program-key">
                                            Пополнение
                                        </div>
                                        <div class="comparison-programs-block__program-value">
                                            от 1000 <span class="rub"></span>
                                        </div>
                                    </div>
                                    <div class="comparison-programs-block__program-line">
                                        <div class="comparison-programs-block__program-key">
                                            Начисление и выплата процентов
                                        </div>
                                        <div class="comparison-programs-block__program-value _medium-text">
                                            В конце срока или ежемесячно
                                        </div>
                                    </div>
                                </div>
                                <a href="#"
                                   data-href="#full-conditions"
                                   class="comparison-programs-block__program-detail-button button button__program-detail hidden-xs hidden-sm hidden-md js-popup-link">
                                    Полные условия
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{#/COMPARISON PROGRAMS#}