{#FEEDBACK#}
<div class="feedback-block">
    <div class="feedback-block__bg">
        <div class="feedback-block__container container">
            <div class="feedback-block__content">
				<span class="feedback-block__title">
					Ответим на вопросы, поможем подобрать программу
				</span>

                <div class="feedback-block__wrap feedback-block__phone-wrap">
                    <div class="feedback-block__column feedback-block__phone-column hidden-xs hidden-sm hidden-md">
                        <div class="feedback-block__phone-line">
                            <span class="feedback-block__phone-title">+7 (8422) 42-50-71</span>
                            <span class="feedback-block__phone-or">или</span>
                        </div>
                        <span class="feedback-block__note __text-align--left">Будни с 9:00 до 19:00: СБ: с 10 до 13, ВС: выходной</span>
                    </div>

                    <div class="feedback-block__column feedback-block__phone-input-column">
                        <div class="feedback-block__input-holder">
                            <input type="text" class="feedback-block__input text-input" name="" value=""
                                   placeholder="Введите ваш номер">
                        </div>
                        <div class="feedback-block__personal-info checkbox-label">
                            <div class="checkbox-personal__container-square js-checkbox-container-square checkbox-label__checkbox-pre-container">
                                <div class="checkbox-personal__container-personal checkbox-label__checkbox-container">
                                    <input name="personal" value="1" type="checkbox"
                                           class="js-checkbox js-checkbox-personal"
                                           data-checkbox-class="checkbox-personal checkbox-label__checkbox-generated-container"
                                           data-index="1">
                                </div>
                            </div>
                            <a href="#" class="feedback-block__input-personal-label checkbox-label__label-container link">
                                Согласен на обработку перс. данных
                            </a>
                        </div>
                    </div>

                    <div class="feedback-block__column feedback-block__button-column">
                        <div class="feedback-block__input-holder">
                            <button class="feedback-block__button button button__feedback-call-request">Перезвоните мне</button>
                        </div>
                        <span class="feedback-block__note">Перезвоним за 15 минут</span>
                    </div>

                </div>


                <div class="feedback-block__wrap feedback-block__process-wrap">
                    <div class="feedback-process">
                        <div class="feedback-process__title hidden-lg">Как открыть сбережение</div>
                        <div class="feedback-process__list">
                            <div class="feedback-process__item">
                                <div class="feedback-process__item-bg hidden-xs hidden-sm hidden-md">
                                    <div class="feedback-process__item-marker"></div>
                                    <div class="feedback-process__item-marker"></div>
                                    <div class="feedback-process__item-marker"></div>
                                    <div class="feedback-process__item-marker"></div>
                                    <div class="feedback-process__item-marker"></div>
                                    <div class="feedback-process__item-marker"></div>
                                    <div class="feedback-process__item-marker"></div>
                                    <div class="feedback-process__item-marker"></div>
                                    <div class="feedback-process__item-marker"></div>
                                    <div class="feedback-process__item-marker"></div>
                                </div>
                                <div class="feedback-process__item-number">
                                    <span>1</span>
                                </div>
                                <div class="feedback-process__item-text-container">
                                    <p class="feedback-process__item-title">Подать заявку</p>
                                    <p class="feedback-process__item-text">Оставьте заявку на сайте, позвоните по
                                        телефону или
                                        приезжайте</p>
                                </div>
                            </div>
                            <div class="feedback-process__item">
                                <div class="feedback-process__item-bg hidden-xs hidden-sm hidden-md">
                                    <div class="feedback-process__item-marker"></div>
                                    <div class="feedback-process__item-marker"></div>
                                    <div class="feedback-process__item-marker"></div>
                                    <div class="feedback-process__item-marker"></div>
                                    <div class="feedback-process__item-marker"></div>
                                    <div class="feedback-process__item-marker"></div>
                                    <div class="feedback-process__item-marker"></div>
                                    <div class="feedback-process__item-marker"></div>
                                    <div class="feedback-process__item-marker"></div>
                                    <div class="feedback-process__item-marker"></div>
                                </div>
                                <div class="feedback-process__item-number">
                                    <span>2</span>
                                </div>
                                <div class="feedback-process__item-text-container">
                                    <p class="feedback-process__item-title">Приехать в офис и заключить договор</p>
                                    <p class="feedback-process__item-text">Вас встретит менеджер и расскажет все
                                        условия.
                                        Для
                                        заключения договора нужен паспорт РФ</p>
                                </div>
                            </div>
                            <div class="feedback-process__item">
                                <div class="feedback-process__item-number">
                                    <span>3</span>
                                </div>
                                <div class="feedback-process__item-text-container">
                                    <p class="feedback-process__item-title">Открыть сбережение</p>
                                    <p class="feedback-process__item-text">После заключения договора получаете членскую
                                        книжку. Вносите деньги наличными или переводите на счёт</p>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>


            </div>
        </div>
    </div>
</div>
{#/FEEDBACK#}