{#FIRST SCREEN#}
<div class="first-screen-block">
	<div class="first-screen-block__text-box">
		<div class="first-screen-block__bg">
			<div class="first-screen-block__container container">
				<div class="first-screen-block__content">
					<div class="first-screen-block__title">
						<span class="first-screen-block__title-line">Сбережения<br class="hidden-md hidden-lg"> в Ульяновске</span><br>
						<span class="first-screen-block__title-line">с <span class="hidden-sm hidden-xs">доходом </span>от 10,5% до 17,0%</span>
					</div>
					<span class="first-screen-block__sub-title hidden-sm hidden-xs">Как вклад в банк, только выгоднее</span>
					<div class="first-screen-block__benefits-wrap">
						<div class="first-screen-block__benefits-line">
							<div class="first-screen-block__benefits-icon"></div>
							<div class="first-screen-block__benefits-name">
								Работаем под строгим контролем <br class="hidden-md hidden-lg">Центрального Банка РФ
							</div>
						</div>
						<div class="first-screen-block__benefits-line">
							<div class="first-screen-block__benefits-icon"></div>
							<div class="first-screen-block__benefits-name">
								Сбережения застрахованы <br class="hidden-md hidden-lg">на всю сумму
							</div>
						</div>
						<div class="first-screen-block__benefits-line">
							<div class="first-screen-block__benefits-icon"></div>
							<div class="first-screen-block__benefits-name">
								Принимаем сбережения <br class="hidden-md hidden-lg">от 1000 руб.
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{#/TOP IMAGE BLOCK#}