{#MAP#}
<div class="map-block">
    <div class="map-block__info">
        <div class="map-block__info-bg">
            <div class="map-block__info-image"></div>
            <div class="map-block__info-wrap">
                <div class="map-block__info-line">
                    <p class="map-block__info-key">Адрес</p>
                    <p class="map-block__info-value">г. Ульяновск, 2-й пер. Мира, д. 28/3</p>
                </div>
                <button class="map-block__info-button hidden-lg button button__map-block-info">Посмотреть на карте</button>
                <div class="map-block__info-line">
                    <p class="map-block__info-key">Телефон</p>
                    <p class="map-block__info-value">8 (8422) 425-071</p>
                </div>
                <div class="map-block__info-line">
                    <p class="map-block__info-key">Режим работы</p>
                    <p class="map-block__info-value">Будни: с 9:00 до 19:00</p>
                    <p class="map-block__info-value">Суббота: с 10:00 до 13:00</p>
                    <p class="map-block__info-value">Воскресенье: выходные</p>
                </div>
            </div>
        </div>
    </div>
    <div class="map-block__itself" id="map"></div>
</div>
{#/MAP#}
